/*
    Селектор по тегу.
    Применит свойства ко ВСЕМ ЭЛЕМЕНТАМ С ЭТИМ ТЕГОМ на странице.
    Срабатывает, если нет более частных селекторов.
*/
div {
    color: #008000;
}

/*
    Селектор по классу.
    Применит свойства ко ВСЕМ ЭЛЕМЕНТАМ С ЭТИМ КЛАССОМ.
*/
.block {
    color: #ff0000;
}

/*
    Селектор но ID.
    Применит свойства к ДАННОМУ ID.
    ID ВСЕГДА УНИКАЛЕН.
*/
#id-block {
    color: #8400ff;
}

/*
    Селектор по атрибуту.
    Применит свойства ко ВСЕМ ЭЛЕМЕНТАМ С ТАКИМ АТРИБУТОМ.
*/
[data-example] {
    color: #a52a2a;
}

/*
    Селектор по атрибуту с указанием значения атрибута.
    Применит свойства ко ВСЕМ ЭЛЕМЕНТАМ С ТАКИМ АТРИБУТОМ И ЗНАЧЕНИЕМ.
*/
[data-example="value2"] {
    color: #e966b2;
}

/*
    Комбинация нескольких селекторов.
    Применит свойства ко ВСЕМ ЭЛЕМЕНТАМ С ТАКИМИ СЕЛЕКТОРАМИ.
*/
.block3, .block4, .block5 {
    color: #fadd37e0;
}

/*
    Контекстный селектор.
    Применит свойства к элементу при СОВПАДЕНИИ ИМЕНИ ТЕГА И СЕЛЕКТОРА.
*/
div.blue-block {
    color: #0000ff;
}

/*
    Контекстный селектор.
    Применит свойства к ДОЧЕРНИМУ ЭЛЕМЕНТУ С ЭТИМ СЕЛЕКТОРОМ ЭТОГО ТЕГА.
*/
div .orange {
    color: #ffa500;
}

/*
    Контекстный селектор.
    Применит свойства к ПЕРВЫМ ПОТОМКАМ РОДИТЕЛЬСКОГО СЕЛЕКТОРА.
*/
.parent>.child {
    color: #008cff;
}